h1{
    color: red !important;
}

.course-bg{
    background-color: linear-gradient(rgba(232,227,226, 0.7), rgba(0,99,120,0.7));
}

#images{
    background-color: blue !important;
}

.category-text{
    color: green !important;
}
